<h1>Here are a few ways to use <code>transition-to</code></h1>

<p><code>ember-route-action</code> allows use the router transitionTo without a link-to helper.</p>

<ul>
  <li><a onclick={{transition-to "test" 'some-arg'}}>Go to test route.</a></li>
  <li>{{some-link click=(transition-to "test" 'arg-to-route')}}</li>
  <li>{{some-link action=(transition-to "test" 'arg-to-route')}}</li>
</ul>


<h2>The usage</h2>
<pre>
&lt;a onclick=\{{transition-to "test" 'some-arg'}}&gt;Go to test route.&lt;/a&gt;

\{{some-link click=(transition-to "test" 'arg-to-route')}}

\{{some-link action=(transition-to "test" 'arg-to-route')}}
</pre>

<h2>The sample component</h2>

<pre>
import Ember from 'ember';

export default Ember.Component.extend({
  click() {
    this.sendAction('action');
  }
});
</pre>
